.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
      %ul.main-header__left-box__member-list group name
      =link_to "#" do
        .main-header__edit-btn Edit
        %span<>
      %ul.main-header__left-box__member-list__member member
  .messages
  .form

 
