.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        group name
      %ul.main-header__left-box__member-list
        members
        %li.main-header__left-box__member-list__member seo
        %li.main-header__left-box__member-list__member neko
    = link_to "#" do
      .main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker seo
        %p.message__upper-info__date 2019/11/27(Wed) 20:28:39
      %p.message__text Hello World!
    .message
      .message__upper-info
        %p.message__upper-info__talker neko
        %p.message__upper-info__date 2019/11/27(Wed) 20:39:12
      %p.message__text Good bye World
  .form
    %form#new_message.new_message{"accept-charset": "UTF-8", enctype: "multipart/form-data", action: "#", method: "post"}
      .input-box
        %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
        %label.input-box__image{for: "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{name: "message[image]", type: "file"}/
      %input.submit-btn{name: "commit", type: "submit", value: "Send"}/
