.chat-main{
  width:calc(100vw - 300px);
  float:left;
  .main-header{
    height:100px;
    padding:0 40px;
    display:flex;
    justify-content:space-between;
    border-bottom:solid 1px #eee;
    overflow:scroll;
    &__left-box{
      margin-top:35px;
      &__current-group{
        font-size:20px;
        color:#333;
        margin-bottom:15px;
      }
      &__member-list{
        display:flex;
        font-size:12px;
        color:#999999;
        &__member{
          margin-left:0.3rem;
        }
      }
    }
    &__edit-btn{
      height:40px;
      line-height:40px;
      padding:0 20px;
      margin-top:30px;
      border:solid 1px #38aef0;
      position:absolute;right:40px
    }
    a{
      color:#38aef0;
      &:active{
        color:#38aef0;
      }
    }
    
  }

  .messages{
    height:calc(100vh - 190px);
    padding:46px 40px;
    background-color:#fafafa;
    overflow:scroll;
    .message{
      padding-bottom:40px;
      &__upper-info{
        display:flex;margin-bottom:10px;
        &__talker{
          color:#434a54;font-size:16px;font-weight:bold;
        }
        &__date{
          color:#999999;font-size:12px;margin-left:10px;
        }
      }
      &__text{
        color:#434a54;font-size:14px;margin-bottom:10px;
      }
    }
  }
  .form{
    height:90px;
    padding:20px 40px;
    background-color:#ddd;
    form{
      display:flex;
      .input-box{
        position:relative;
        width:100%;
        &__text{
          height:50px;width:100%;
          padding:0 40px 0 10px;
          color:#434a54;
          border-style:none;
        }
        &__image{
          font-size:1.3rem;
          position:absolute;
          top:10px;
          right:10px;
          cursor:pointer;
          &__file{
            display:none;
          }
        }
      }
      .submit-btn{
        width:100px;
        height:50px;
        padding:0 30px;
        margin-left:15px;
        background-color:#38aef0;
        color:white;
        cursor:pointer;
      }
    }
  }
}

.account-page {
  &__inner{
    width:980px;
    margin:60px auto;
    padding:60px;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:5px;
    &--left,&--right{
      float:left;width:50%;
    }
    &:after{
      clear:both;
      content:"";
      display:block;
    }
  }
  &__header{
    h2{
      margin-bottom:10px;
      letter-spacing:3px;
      font-size:40px;
      font-weight:200;
      &:after{
        content:'';
        display:block;
        width:60px;
        margin-top:5px;
        border-bottom:1px solid #38aef0;
      }
    }
    h5{
      margin-bottom:20px;
      font-size:14px;
      font-weight:200;
    }
    .btn{
      margin-top:20px;
      color:#fff;
      background-color:#ccc;
      font-size:14px;
    }
  }
  .field{
    margin-bottom:10px;
    .field-label{
      padding:10px 0;
      letter-spacing:1px;
      font-size:14px;
      font-weight:200;
      i{
        font-size:11px;
      }
      .field_with_errors{
        display:inline-block;
        color:#d65f4c;
        font-weight:400;
        position:relative;
        &:after{
          content:'';
          display:block;
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          width:5px;
          background-color:#d65f4c;
        }
      }
    }
    .field-input input{
      width:100%;
      padding:10px;
      letter-spacing:1px;
    }
  }
  .btn{
    display:inline-block;
    height:50px;
    padding:0 30px;
    line-height:50px;
    letter-spacing:1px;
    text-align:center;
    border:none;
    border-radius:2px;
  }
  input[type='submit']{
    float:left;
    margin-top:20px;
    color:#fff;
    background-color:#38aef0;
  }
}

#error_explanation{
  margin:20px 0;
  padding:20px 30px;
  border:1px solid #ddd;
  border-radius:2px;
  h2{
    margin-bottom:10px;
    color:#d65f4c;
    font-size:14px;
  }
  ul{
    margin:0;
    padding-left:17px;
    list-style:square;
  }
  li{
    margin:0;
    padding:0;
    font-size:13px;
  }
}


.chat-group-form{
  width:980px;
  margin:60px auto;
  padding:40px;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:5px;
  box-sizing:border-box;
  
  h1{
    letter-spacing:2px;
    font-size:24px;
    font-weight:bold;
    text-align:center;
  }
  &__errors{
    margin:30px 0;
    padding:20px 40px;
    border:1px solid #ddd;
    border-radius:2px;
    text-align:center;
    h2{
      margin-bottom:10px;
      color:#f05050;
      font-size:14px;
    }
    ul{
      margin:0;
      padding:0;
      list-style:none;
    }
    li{
      margin:0;
      padding:0;
      font-size:13px;
    }
  }
  &__field{
    margin-top:30px;
    &:after{
      content:"";
      clear:both;
      display:block;
    }
    &--left{
      float:left;
      width:30%;
      padding-right:20px;
      padding-left:20px;
      box-sizing:border-box;
    }
    &--right{
      float:right;width:70%
    }
    &__label{
      display:block;
      line-height:50px;
      font-weight:bold;
      text-align:right;
    }
    &__input{
      float:left;
      width:100%;
      line-height:30px;
      padding:10px 15px;
      box-sizing:border-box;
    }
  }
  .chat-group-user{
    padding:0 15px;
    line-height:50px;
    font-size:14px;
    border-bottom:1px solid #ddd;
    &:after{
      content:"";
      clear:both;
      display:block;
    }
    &__name{
      float:left;
    }
    &__btn{
      // float:right;
      display:inline-block;
      cursor:pointer;
      &--add{
        color:#38aef0;
      }
      &--remove{
        color:#f05050;
      }
    }
  }
  &__action-btn{
    display:inline-block;
    padding:12px 20px;
    color:#fff;
    background-color:#38aef0;
    border:0;
  }
}
*{
  box-sizing:border-box;
}
.clearfix::after{
  content:"";display:block;clear:both;
}
a{
  text-decoration:none;
}
  
