.chat-main{
  width: $main_width;
  float:left;
  .main-header{
    height: $header_height;
    padding: $mainHeader_padding;
    @include flexbox;
    @include justify-content(space-between);
    @include border-bottom(
        $mainHeader_bdLine
        , $mainHeader_bdSize
        , $mainHeader_bdColor
        );
    overflow:scroll;
    &__left-box{
      margin-top:35px;
      &__current-group{
        font-size:20px;
        color:#333333;
        margin-bottom:15px;
      }
      &__member-list{
        @include member-list;
        &__member{
          @include member;
        }
      }
    }
    &__edit-btn{
      @include editButton;
    }
    a{
      @include editButtonlinkto;
    }
    
  }
  .messages{
    height: $mainMessages_height;
    padding: $mainMessages_padding;
    background-color: #fafafa;
    .message{
      padding-bottom:40px;
      &__upper-info{
        display:flex;margin-bottom:10px;
        &__talker{
          color:#434a54;
          font-size:16px;
          font-weight:bold;
        }
        &__date{
          color:#999999;
          font-size:12px;
          margin-left:10px;
        }
      }
      &__text{
        color:#434a54;
        font-size:14px;
        margin-bottom:10px;
      }
    }
  }
  .form{
    height:90px;
    padding:20px 40px;
    background-color:#ddd;
    form{
      @include flexbox;
      .input-box{
        position:relative;width:$width_maxmum;
        &__text{
          height:50px;
          width:$width_maxmum;
          padding:0 40px 0 10px;
          color:#434a54;
          border-style:none;
        }
        &__image{
          font-size:1.3rem;
          position:absolute;
          top:10px;
          right:10px;
          cursor:pointer;
          &__file{
            display:none;
          }
        }
      }
      .submit-btn{
        width:100px;
        height:50px;
        padding:0 30px;
        margin-left:15px;
        background-color:#38aef0;
        color:white;
        cursor:pointer;
      }
    }
  }
}
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
a{
  text-decoration:none;
}