
.chat-side{
  color: $FontCcolor_default;
  width: $sideBar_width;
  float: left;
  a{
    color: $FontCcolor_default;
  }
  .side-header{
    background-color: $sideHeader_bgColor;
    height: $sideHeader_height;
    display: flex;
    align-items: center;
    padding: $sideHeader_padding;
    &__box{
      display: flex;
      justify-content: space-between;
      width: $WidthMax;
      font-weight: bold;
      &__user-name {
        font-size: $sideHeader_fontsize_username;
      }
      &__menu {
        display: flex;
        li{
          margin-left: 0.3rem;
        }
      }
    }
  }

  .groups{
    height: $sideGroups_height;
    background-color: $sideGroups_bgColor;
    padding: $sideGroups_padding;
    // overflow:scroll;
    .group{
      margin-bottom: $sideGroup_marginBottom;
      &__group-name{
        font-size: $sideHeader_fontsize_groupname;
        margin-bottom: $sideGroup_groupname_marginBottom;
      }
      &__latest-message{
        font-size: $sideHeader_fontsize_latestmsg;
      }
    }
  }

}





